<!DOCTYPE html>
<html>
<head>
  <title>Cornerstone</title>
  <%= javascript_include_tag 'application.js' %>
  <%= stylesheet_link_tag 'application.css' %>


  <%= csrf_meta_tags %>
</head>
<body>
 	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<%= yield %>
</body>
</html>
